<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../assets/css/about.css" />
    <title>About Us</title>
  </head>
  <body>
    <section id="header">
      <div class="wrapper">
        <div class="header-con">
          <a href="homepage.html"
            ><img src="../assets/img/Logo.png" alt="Logo"
          /></a>
          <ul class="navbar">
            <li>
              <a href="homepage.html">Home</a>
            </li>
            <li>
              <a href="about.html">About Us</a>
            </li>
            <li>
              <a href="heritage.html">Heritage</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
          </ul>
          <button id="mobileBtn"></button>
        </div>
      </div>
    </section>
    <section id="about-us">
      <div class="wrapper">
        <div class="about-us-con">
          <h1>
            Embracing the <span>Philippines</span>: Our Story of
            <span>Heritage</span>
          </h1>
          <div class="about-us-content">
            <h3><span>Intro</span>duction:</h3>
            <p>
              At FunPinas, we are driven by a passion for showcasing the rich
              heritage and vibrant culture of the Philippines. Our journey began
              with a simple desire—to share the beauty and diversity of our
              country with the world. Now, join us as we delve deeper into our
              story and the values that guide us.
            </p>
          </div>
          <div class="about-us-content">
            <h3>Our <span>Story</span>:</h3>
            <p>
              Founded 2024,FunPinas was born out of a shared love for the
              Philippines and a desire to celebrate its people, places, and
              history. What started as a small idea has blossomed into a
              platform dedicated to promoting Philippine heritage in all its
              forms. Through our articles, photos, and videos, we aim to inspire
              curiosity, foster appreciation, and spark meaningful connections
              with everyone.
            </p>
          </div>
          <div class="about-us-content">
            <h3>Our <span>Mission</span>:</h3>
            <p>
              At FunPinas, our mission is simple, it is to shine a spotlight on
              the beauty and richness of Philippine culture. Whether it's
              through showcasing breathtaking landscapes, highlighting vibrant
              festivals, or honoring fearless heroes, we strive to capture the
              essence of what makes the Philippines truly special. Our goal is
              to educate, entertain, and empower individuals to explore,
              experience, and embrace the wonders of our beloved country.
            </p>
          </div>
          <div class="about-us-content">
            <h3><span>Join</span> Us:</h3>
            <p>
              We invite you to join us on this journey of discovery and
              celebration. Whether you're a seasoned traveler, a proud Filipino,
              or simply someone with a thirst for knowledge, there's a place for
              you here at FunPinas. Together, let's uncover the stories that
              make the Philippines unique and share them with the world.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
