<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../assets/css/heritage.css" />
    <title>Heritage</title>
  </head>
  <body>
    <section id="header">
      <div class="wrapper">
        <div class="header-con">
          <a href="homepage.html"
            ><img src="../assets/img/Logo.png" alt="Logo"
          /></a>
          <ul class="navbar">
            <li>
              <a href="homepage.html">Home</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="heritage.html">Heritage</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#" class="btn-primary">Learn More</a>
            </li>
          </ul>
          <button id="mobileBtn"></button>
        </div>
      </div>
    </section>
    <section id="heritage-spot">
      <div class="wrapper">
        <div class="heritage-spot-con">
          <h2>Iconic <span>Tourist Spots</span></h2>
          <div class="tourist-spot-content">
            <div class="heritage-spot-widget">
              <img src="../assets/img/BRT.jpg" alt="" />
              <div class="img-description">
                <h3>Banaue Rice Terraces - <span>Ifugao</span></h3>
                <p>
                  The Banaue Rice Terraces are called the 8th Wonder of the
                  Modern World by locals, these terraces are said to have been
                  carved into the mountains and hillsides by the ancestors of
                  the local indigenous Ifugao tribes, and are well over 2,000
                  years old. It’s also believed that these terraces were created
                  with little or no machinery and were carved mostly by hand.
                  They provide level steps in the sloped ground, allowing people
                  to plant and cultivate rice. Witness the awe-inspiring beauty
                  of the Banaue Rice Terraces, showcasing ancient agricultural
                  ingenuity.
                </p>
              </div>
            </div>
            <div class="heritage-spot-widget">
              <img src="../assets/img/siargao-island-1.jpg" alt="" />
              <div class="img-description">
                <h3>Siargao Island - <span>Surigao del Norte</span></h3>
                <p>
                  Siargao is an island of nine municipalities in the province of
                  Surigao del Norte. It is a teardrop-shaped island located on
                  the northeastern coast of Mindanao. Known as the “Surfing
                  Capital of the Philippines”. Siargao is mainly responsible for
                  introducing surfing to the country. Siargao offers everything
                  from crystal-clear waters, white sandy beaches, coconut palm
                  forests, and of course, world-class waves that make it a prime
                  surfing destination.
                </p>
              </div>
            </div>
            <div class="heritage-spot-widget">
              <img src="../assets/img/ca.jpg" alt="" />
              <div class="img-description">
                <h3>Chocolate Hills - <span>Bohol</span></h3>
                <p>
                  Known for its uniquely shaped group of hills, Chocolate Hills
                  offers an extraordinary landscape on the island of Bohol. With
                  an estimated 1,268 to 1,776 individual mounds, these
                  cone-shaped or dome-shaped hills are actually made of
                  grass-covered limestone. These unique hills get their name
                  from their brown color during the dry season, resembling rows
                  of delectable chocolate treats. It's a natural wonder you have
                  to see to believe, perfect for a scenic hike or simply soaking
                  in the breathtaking views.
                </p>
              </div>
            </div>
            <div class="heritage-spot-widget">
              <img src="../assets/img/intram.jpg" alt="" />
              <div class="img-description">
                <h3>Intramuros – <span>Manila</span></h3>
                <p>
                  Intramuros, or the ‘Walled City’, is one of the oldest
                  districts of Manila. Intramuros is home to the city's iconic
                  and historic landmarks that have been built during the Spanish
                  occupation in the Philippines. It was built by the Spaniards –
                  more specifically by Miguel Lopez de Legaspi – and is bound on
                  all sides by moats and thick, high walls, some over 6 meters
                  high. Because of its old-world appeal, many locals and
                  foreigners frequent Intramuros to revisit the past and see
                  centuries-old establishments. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="festival-cards">
      <div class="wrapper">
        <div class="festival-cards-con">
          <div class="container">
            <div class="cards-box">
              <div class="card hide">
                <div class="content-placeholder">
                  <div class="row">
                    <div class="img"></div>
                    <div class="img-text"></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content-placeholder">
                  <div class="row">
                    <video src="../assets/video/ati-atihan.mp4" id="Ati-Atihan"></video>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content-placeholder">
                  <div class="row">
                    <video src="../assets/video/dinagyang.mp4" id="Dinagyang"></video>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content-placeholder">
                  <div class="row">
                    <video src="../assets/video/pahiyas.mp4" id="Pahiyas"></video>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content-placeholder">
                  <div class="row">
                    <video src="../assets/video/masskara.mp4" id="MassKara"></video>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="content-placeholder">
                  <div class="row">
                    <video src="../assets/video/sinulog.mp4" id="Sinulog"></video>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-details-con">
            <ul class="card-list">
              <li class="card-text" data-name="Ati-Atihan">
                <h4><span>Ati-Atihan</span> Festival</h4>
                <p>
                  Join the rhythmic frenzy of the Ati-Atihan Festival in Aklan,
                  known as the "Mother of All Philippine Festivals," with its
                  tribal dance parades and spirited street parties to honor the
                  Sto. Niño and commemorate the arrival of Malay settlers in the
                  Philippines.
                </p>
              </li>
              <li class="card-text" data-name="Dinagyang">
                <h4><span>Dinagyang</span> Festival</h4>
                <p>
                  Dinagyang is a fusion of faith and festivity, a celebration of
                  Iloilo's rich cultural heritage and vibrant traditions.
                  Experience the excitement and passion of this world-renowned
                  festival as tribes pay homage to the Sto. Niño with rhythmic
                  dances, colorful costumes, and pulsating drum beats.
                </p>
              </li>
              <li class="card-text" data-name="Pahiyas">
                <div class="cart-headings">
                  <h4><span>Pahiyas</span> Festival</h4>
                </div>
                <p>
                  Pahiyas is a feast for the senses, as the streets come alive
                  with music, food, and artistry. Experience the harvest
                  festival in Lucban, Quezon, where houses are adorned with
                  colorful decorations made from fruits, vegetables, and
                  agricultural products. Discover the creativity and warmth of
                  the Filipino spirit as you immerse yourself in this vibrant
                  celebration of abundance and gratitude.
                </p>
              </li>
              <li class="card-text" data-name="MassKara">
                <h4><span>MassKara</span> Festival</h4>
                <p>
                  MassKara is a symbol of resilience and optimism in the face of
                  adversity, born out of the challenges faced by the people of
                  Negros Occidental. Dive into the carnival atmosphere of
                  Bacolod City, where masked revelers parade through the streets
                  in a dazzling display of music, dance, and creativity.
                </p>
              </li>
              <li class="card-text" data-name="Sinulog">
                <h4><span>Sinulog</span> Festival</h4>
                <p>
                  Sinulog is more than just a festival—it's a spiritual journey
                  that brings together people from all walks of life to
                  celebrate faith, unity, and Filipino heritage. Join the fiesta
                  in Cebu as millions of devotees honor the Child Jesus through
                  dance, processions, and religious rituals.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
      integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
