<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../assets/css/theme.css" />
    <title>FunPinas</title>
  </head>
  <body>
    <section id="header">
      <div class="wrapper">
        <div class="header-con">
          <img src="../assets/img/Logo.png" alt="Logo" />
          <ul class="navbar">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Heritage</a>
            </li>
            <li>
              <a href="#">Tours</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#" class="btn-primary">Learn More</a>
            </li>
          </ul>
          <button id="mobileBtn"></button>
        </div>
      </div>
    </section>
    <section id="banner">
      <div class="wrapper">
        <div class="banner-con">
          <div class="banner-img-con">
            <img src="../assets/img/Banner_Image.png" alt="Logo" />
          </div>
          <div class="banner-details">
            <h1>Welcome to the <span>Philippine</span> Heritage Showcase</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn-primary">Explore More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="tourist-spot">
      <div class="wrapper">
        <div class="tourist-spot-con">
          <h2>About <span>Philippines</span></h2>
          <div class="tourist-widget-con">
            <div class="tourist-widget">
              <img src="../assets/img/img1.jpg" alt="Image" />
              <div class="tourist-widget-details">
                <h3>Banaue Rice Terraces</h3>
                <p>
                  The Banaue Rice Terraces are called the 8th Wonder of the
                  Modern World by locals, these terraces are said to have been
                  carved into the mountains and hillsides by the ancestors of
                  the local indigenous Ifugao tribes, and are well over 2,000
                  years old. It’s also believed that these terraces were created
                  with little or no machinery and were carved mostly by hand.
                  They provide level steps in the sloped ground, allowing people
                  to plant and cultivate rice. Witness the awe-inspiring beauty
                  of the Banaue Rice Terraces, showcasing ancient agricultural
                  ingenuity.
                </p>
              </div>
            </div>
            <div class="tourist-widget">
              <img src="../assets/img/img1.jpg" alt="Image" />
              <div class="tourist-widget-details">
                <h3>Coron, palawan</h3>
                <p>
                  The Banaue Rice Terraces are called the 8th Wonder of the
                  Modern World by locals, these terraces are said to have been
                  carved into the mountains and hillsides by the ancestors of
                  the local indigenous Ifugao tribes, and are well over 2,000
                  years old. It’s also believed that these terraces were created
                  with little or no machinery and were carved mostly by hand.
                  They provide level steps in the sloped ground, allowing people
                  to plant and cultivate rice. Witness the awe-inspiring beauty
                  of the Banaue Rice Terraces, showcasing ancient agricultural
                  ingenuity.
                </p>
              </div>
            </div>
            <div class="tourist-widget">
              <img src="../assets/img/img1.jpg" alt="Image" />
              <div class="tourist-widget-details">
                <h3>Chocolate Hills – Bohol</h3>
                <p>
                  The Banaue Rice Terraces are called the 8th Wonder of the
                  Modern World by locals, these terraces are said to have been
                  carved into the mountains and hillsides by the ancestors of
                  the local indigenous Ifugao tribes, and are well over 2,000
                  years old. It’s also believed that these terraces were created
                  with little or no machinery and were carved mostly by hand.
                  They provide level steps in the sloped ground, allowing people
                  to plant and cultivate rice. Witness the awe-inspiring beauty
                  of the Banaue Rice Terraces, showcasing ancient agricultural
                  ingenuity.
                </p>
              </div>
            </div>
            <div class="tourist-widget">
              <img src="../assets/img/img1.jpg" alt="Image" />
              <div class="tourist-widget-details">
                <h3>Intramuros – Manila</h3>
                <p>
                  The Banaue Rice Terraces are called the 8th Wonder of the
                  Modern World by locals, these terraces are said to have been
                  carved into the mountains and hillsides by the ancestors of
                  the local indigenous Ifugao tribes, and are well over 2,000
                  years old. It’s also believed that these terraces were created
                  with little or no machinery and were carved mostly by hand.
                  They provide level steps in the sloped ground, allowing people
                  to plant and cultivate rice. Witness the awe-inspiring beauty
                  of the Banaue Rice Terraces, showcasing ancient agricultural
                  ingenuity.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
      integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
