@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
  list-style: none !important;
}

:root {
  --global-color-white: #ffffff;
  --global-color-black: #222222;
  --global-color-blue: #1e4072;
  --global-color-red: #d7212e;
  --global-color-yellow: #f5c50a;
}

body {
  scroll-behavior: smooth;
  background: var(--global-color-blue);
}

h1 span,
h2 span,
h3 span {
  color: var(--global-color-yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--global-color-white);
}

h1 {
  font-size: 80px;
  line-height: 90px;
}

h2 {
  font-size: 60px;
  line-height: 1.4em;
}

h3 {
  font-size: 40px;
  line-height: 1.5em;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
  color: var(--global-color-white);
  line-height: 2em;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

.btn-primary {
  display: inline-block;
  color: var(--global-color-white);
  background: var(--global-color-red);
  font-family: "Montserrat", sans-serif;
  padding: 15px 60px;
  border-radius: 25px;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  font-weight: 500;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

/* Header Section */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#header .wrapper {
  max-width: 1640px;
}

#header .header-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#header .navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}

#header .navbar li:not(:last-child) a {
  transition: 0.2s;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--global-color-white);
  font-family: "Montserrat", sans-serif;
}

#header #mobileBtn {
  display: none;
  opacity: 0;
}
/* Header Section */

/* Heritage Spot */

#heritage-spot {
  position: relative;
  display: flex;
  padding: 200px 0 115px;
}

#heritage-spot .wrapper {
  max-width: 1440px;
}

#heritage-spot .heritage-spot-con h2 {
  margin-bottom: 55px;
}

#heritage-spot .heritage-spot-widget img {
  width: 100%;
  max-width: 565px;
  height: 400px;
}

#heritage-spot .heritage-spot-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

#heritage-spot .heritage-spot-widget:not(:last-child) {
  padding-bottom: 50px;
}

#heritage-spot .heritage-spot-widget:nth-of-type(2),
#heritage-spot .heritage-spot-widget:nth-of-type(4) {
  flex-direction: row-reverse;
}

#heritage-spot .img-description p {
  width: 100%;
  max-width: 820px;
  padding-top: 30px;
}

/* Heritage Spot */

/* Tourist Spot Section */

#festival-cards .wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

#festival-cards {
  padding: 115px 0;
}

#festival-cards .cards-box {
  position: absolute;
}

#festival-cards .cards-box .card {
  width: 500px;
  cursor: pointer;
}

#festival-cards .cards-box .card.hide {
  visibility: hidden;
}

#festival-cards .card-details-con {
  display: flex;
  justify-content: end;
  text-align: right;
}

#festival-cards .card-details-con .card-list {
  max-width: 715px;
}

#festival-cards .card-details-con .card-text h4 {
  opacity: 0.5;
}

#festival-cards .cards-box .card:not(.hide) {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

#festival-cards .cards-box .card:not(.hide)[data-slide="1"] {
  transform: translate(20px, 0px);
  z-index: 6;
  opacity: 1;
}

#festival-cards .cards-box .card:not(.hide)[data-slide=""] {
  transform: translate(0px, 0px);
  z-index: 5;
  opacity: 0.3;
}

#festival-cards .card-text {
  cursor: pointer;
}

#festival-cards .card-text h4 {
  transition: 0.5s;
}

#festival-cards .card-text.active h4 {
  font-size: 60px;
  font-weight: 800;
  opacity: 1;
}

#festival-cards .card-details-con ul li:not(:last-child) h4 {
  margin-bottom: 10px;
}

#festival-cards .card-text.active .cart-headings {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 23px;
}

#festival-cards .card-text.active .cart-headings::after {
  position: relative;
  content: "";
  width: 5px;
  height: 84px;
  background: var(--global-color-white);
  display: inline-grid;
  margin-left: 10px;
}

#festival-cards .card-text.active .cart-headings h4 {
  margin: 0;
}

#festival-cards .card-text p {
  display: none;
  margin-bottom: 10px;
}

#festival-cards .card-text.active span {
  color: var(--global-color-yellow);
}

#festival-cards .content-placeholder .row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

#festival-cards .content-placeholder .row::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.3), transparent);
  border-radius: 10px;
}

#festival-cards .content-placeholder video {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  #tourist-spot .tourist-spot-con {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1500px) {
  #tourist-spot .tourist-spot-con {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1670px) {
  #header .header-con {
    padding-left: 0px;
    padding-right: 0px;
  }
}
