@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
  list-style: none !important;
}

:root {
  --global-color-white: #ffffff;
  --global-color-black: #222222;
  --global-color-blue: #1e4072;
  --global-color-red: #d7212e;
  --global-color-yellow: #f5c50a;
}

body {
  scroll-behavior: smooth;
  background: var(--global-color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--global-color-white);
}

h2 span {
  color: var(--global-color-yellow);
}

h1 {
  font-size: 80px;
  line-height: 90px;
}

h2 {
  font-size: 60px;
  line-height: 1.4em;
}

h3 {
  font-size: 40px;
  line-height: 1.5em;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
  color: var(--global-color-white);
  line-height: 2em;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

.btn-primary {
  display: inline-block;
  color: var(--global-color-white);
  background: var(--global-color-red);
  font-family: "Montserrat", sans-serif;
  padding: 15px 60px;
  border-radius: 25px;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  font-weight: 500;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

/* Header Section */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

#header .wrapper {
  max-width: 1640px;
}

#header .header-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#header .navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}

#header .navbar li a {
  transition: 0.2s;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--global-color-white);
  font-family: "Montserrat", sans-serif;
}

#header #mobileBtn {
  display: none;
  opacity: 0;
}
/* Header Section */

/* Banner Section */
#banner {
  overflow-x: clip;
}

#banner .wrapper {
  max-width: 1440px;
}

#banner .banner-con {
  position: relative;
  display: flex;
  padding: 200px 0 115px;
}

#banner h1 {
  max-width: 832px;
  margin-bottom: 20px;
  width: 100%;
}

#banner .banner-img-con {
  position: absolute;
  left: 689px;
  top: 31px;
}

#banner .banner-img-con img {
  position: relative;
  width: 991px;
  height: 1034px;
}

#banner h1 span {
  color: var(--global-color-yellow);
}

#banner .banner-details {
  max-width: 832px;
  width: 100%;
}

#banner .banner-details p {
  max-width: 649px;
  width: 100%;
  margin-bottom: 50px;
}
/* Banner Section */

/* About Philippines */
#about-philippines .wrapper {
  max-width: 1440px;
}

#about-philippines .about-philippines-con {
  padding: 115px 0;
}

#about-philippines .about-philippines-content-img::after {
  position: absolute;
  content: "";
  bottom: -115px;
  height: 288px;
  width: 100%;
  background: linear-gradient(
    180.22deg,
    rgba(30, 64, 114, 0) 0.19%,
    var(--global-color-blue) 99.81%
  );
}

#about-philippines h3 span {
  color: var(--global-color-yellow);
}

#about-philippines .about-philippines-content {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

#about-philippines .about-philippines-content-img {
  position: relative;
  width: 100%;
  max-width: 720px;
}

#about-philippines .about-philippines-content-img img {
  width: 426px;
  height: 338px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

#about-philippines .about-philippines-content-img img:nth-child(2) {
  position: absolute;
  top: 228px;
  left: 294px;
  z-index: 1;
}

#about-philippines .about-philippines-content-img img:last-child {
  margin-top: 117px;
}

#about-philippines p {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}
/* About Philippines */

/* Visual Tour */
#visual-tour .wrapper {
  max-width: 1440px;
}

#visual-tour .visual-tour-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 115px 0;
  gap: 55px;
}

#visual-tour h2 {
  width: 100%;
  max-width: 666px;
}

#visual-tour p {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}

#visual-tour video {
  width: 100%;
  max-width: 589px;
  height: 610px;
}
/* Visual Tour */

/* Tourist Spot Section */
#tourist-spot .wrapper {
  max-width: 1440px;
}

#tourist-spot .tourist-spot-con {
  padding: 115px 0;
}

#tourist-spot .tourist-spot-con h2 {
  margin-bottom: 50px;
}

#tourist-spot .tourist-widget {
  display: flex;
  gap: 55px;
  align-items: center;
}

#tourist-spot .tourist-widget-con > div:not(odd) {
  flex-direction: row-reverse;
}

#tourist-spot .tourist-widget:not(even) {
  flex-direction: row;
}

#tourist-spot .tourist-widget-details h3 {
  margin-bottom: 20px;
}

#tourist-spot .tourist-widget img {
  max-width: 565px;
  border-radius: 10px;
  height: 400px;
  width: 100%;
}

#tourist-spot .tourist-widget-con {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

/* Gallery Section */
#gallery {
  overflow-x: clip;
}

#gallery .wrapper {
  max-width: 1440px;
}

#gallery .gallery-con {
  padding: 115px 0;
}

#gallery .gallery-header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

#gallery .gallery-navbar {
  display: flex;
  padding: 19.5px 0;
  position: relative;
  border-bottom: 3px solid var(--global-color-white);
}

#gallery .gallery-navbar a.active {
  color: var(--global-color-yellow);
}

#gallery .image-con {
  position: relative;
}

#gallery .image-con h4 {
  position: absolute;
  z-index: 2;
  color: var(--global-color-blue);
}

#gallery .a .image-con h4 {
  bottom: 55px;
  left: 20px;
}

#gallery .b .image-con h4,
#gallery .c .image-con h4 {
  bottom: 55px;
  left: -42px;
}

#gallery .f .image-con h4 {
  bottom: 282px;
  left: -42px;
}

#gallery .d .image-con h4 {
  left: 20px;
  bottom: 75px;
}

#gallery .e .image-con h4 {
  left: 20px;
  bottom: 105px;
}

/* #gallery .gallery-navbar a.active::before {
  position: absolute;
  content: "";
  height: 2.8px;
  width: 74px;
  border-radius: 2px;
  bottom: -22px;
  background: var(--global-color-yellow);
} */

#gallery .gallery-navbar a {
  font-family: "Montserrat", sans-serif;
  color: var(--global-color-white);
  align-items: center;
  height: 100%;
  display: flex;
}

#gallery .gallery-navbar li:first-child {
  padding-left: 50px;
}

#gallery .gallery-navbar li:last-child {
  padding-right: 50px;
}

#gallery .gallery-navbar li:not(:last-child) a:after {
  position: relative;
  content: "";
  background: var(--global-color-white);
  height: 22px;
  border-radius: 2px;
  width: 2px;
  margin: 0px 50px;
  display: inline-grid;
}

#gallery .gallery-navbar li {
  position: relative;
}

.gallery-grid-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b c"
    "d e f";
}

.gallery-grid-con img {
  border-radius: 10px;
}

.a {
  grid-area: a;
}

.a img {
  width: 396px;
  height: 374px;
  margin-top: 78px;
}

.b {
  grid-area: b;
}

.b img {
  right: 62px;
  position: relative;
  width: 492px;
  height: 422px;
}

.c {
  grid-area: c;
}

.c img {
  right: 62px;
  position: relative;
  margin-top: 40px;
  width: 492px;
  height: 212px;
}

.d {
  grid-area: d;
}

.d img {
  width: 458px;
  height: 306px;
  position: relative;
  top: -25px;
}

.e {
  grid-area: e;
}

.e img {
  right: 62px;
  position: relative;
  margin-left: auto;
  top: -55px;
  width: 430px;
  height: 428px;
}

.f {
  grid-area: f;
}

.f img {
  position: relative;
  top: -225px;
  width: 492px;
  right: 62px;
  height: 477px;
}

/* Gallery Section */

/* Faqs Section */
#faqs .wrapper {
  max-width: 1440px;
}

#faqs .faqs-con {
  padding: 115px 0;
}

#faqs .faqs-con h2 {
  text-align: center;
  margin-bottom: 50px;
}

#faqs .faqs-list-con {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#faqs .faqs-widget .faqs-header {
  padding: 25px 45px 25px 105px;
  border-radius: 10px;
  background: #2a599f;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faqs .faqs-widget .faqs-header p {
  font-weight: 600;
  opacity: 0.75;
}

#faqs .faqs-details {
  display: none;
  padding: 65px 100px;
}

/* Faqs Section */

/* Our Team */
#team .wrapper {
  max-width: 1440px;
}

#team .our-team {
  display: flex;
  flex-wrap: wrap;
  padding: 115px 0;
  gap: 75px;
}

#team .team-con h2 {
  margin-bottom: 50px;
}

#team .team-con span {
  color: var(--global-color-yellow);
}

#team .social-links {
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: 10px;
  transition: 0.2s;
  z-index: 1;
  right: 10px;
  bottom: 65px;
}

#team .our-team-widget::after:hover ~ .social-links {
  opacity: 1;
}

#team .team-con .our-team-widget span::after {
  content: " |";
  color: #ffffff;
}

#team .our-team-widget .team-image img {
  object-fit: cover;
  height: 500px;
  border-radius: 10px;
  width: 430px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

#team .social-links a img {
  width: 100%;
}

#team .our-team-widget {
  cursor: pointer;
  position: relative;
}

#team .our-team-widget .widget-details {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2;
}

#team .team-image::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(30, 64, 114, 0) 50%, #1e4072 100%);
  border-radius: 10px;
}

#team .our-team-widget p span {
  color: var(--global-color-yellow);
}

#team .our-team-widget p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 15px;
  line-height: 1em;
}

@media screen and (min-width: 1024px) {
  #header .header-con,
  #about-philippines .about-philippines-con,
  #visual-tour .visual-tour-con,
  #banner .banner-con {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1500px) {
  #banner .banner-con {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1670px) {
  #header .header-con {
    padding-left: 0px;
    padding-right: 0px;
  }
}
